#draggableWrapper {
    width: 400px;
    top: 50px;
    right: 20px;
    position: absolute;
    z-index: 2147483648 !important;
    text-align: center;
    border: 1px solid #d3d3d3;
}

#draggableWrapperHeader {
    padding: 10px;
    font-size: 10pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    background-color: #2196F3;
    transition: background-color 0.2s linear;
    color: #fff;
}

.dark-blue{
    background-color: #085594 !important;
}
#cross{
    margin-right: 5px;
}
#box{
    background-color: #f1f1f1;
    transition: background-color 0.2s linear;
}

#MyRoot {
    max-height: 400px;
    overflow-y: scroll;
}

/*********************** Login Page *************************/
.form-signinup {
    width: 100%;
    padding: 15px;
    max-width: 330px;
    margin: auto;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navlink:hover {
    color: rgb(61, 152, 250) !important;
    cursor: pointer;
}

/*-------------------------------------Notes------------------------------------*/
.notes {
    margin: 5px 8px;
    border: 1px solid black;
    padding: 5px 3px;
    text-align: left;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.time-link {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

.accorbtn {
    border: 2px solid #86b7fe;
    background-color: #dbe9fe;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.goRight {
    margin-left: 290px;
}

.goRight2{
    margin-left: 300px
}
/********************** Dark Mode ********************************************/
.chk{
    background-color: #86b7fe;
}

.checkbox {
    opacity: 0;
}

.label {
    width: 40px;
    height: 21px;
    background-color: #111;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 2px 5px;
    transform: scale(1.5);
    position: absolute;
    top: 12px;
    left: 12px;
}

.ball {
    width: 15px;
    height: 15px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.invert {
    filter: invert(1);
}

/*  target the elemenent after the label*/
.checkbox:checked+.label .ball {
    transform: translateX(16px);
}

/*---------------------------Loader---------------------------------*/
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 300;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #cecccc;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    border-bottom: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
